<html>

<head>

    <title>Email Verified</title>

    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/6gyvnX6/Group-1.png">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700">

    <style>
        .body {
            margin: 0;
            padding: 0;
        }

        .page-container {

            height: 100vh;
            width: 100%;
            background: #eb34a5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: sans-serif;
        }

        .title {

            font-size: 40px;
        }

        .text {

            color: #ffffff;
            font-size: 50px;

        }

        .image {
            height: 162px;
        }
    </style>
</head>

<body class="body">
    <div class="page-container">

        <img src="https://i.ibb.co/n8Lw6pW7/358f6923-d1fc-41a3-8c7d-9712947ec4dd.jpg" alt="" class="image">

        <h1 class="title"></h1>

        <h1 class="text">Email ID verified successfully.</h1>
    </div>
</body>

</html>