<html>

<head>
    <title>Forgot password</title>
</head>

<body style="margin: 0; padding: 0;">
    <table
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;background-color:#FFFFFF;">
        <tr>
            <td>
                <table style="max-width:670px;  margin:0 auto;" width="100%" border="0" align="center" cellpadding="0"
                    cellspacing="0">

                    <tr>
                        <td style="text-align:center;">
                            <img src="https://i.ibb.co/n8Lw6pW7/358f6923-d1fc-41a3-8c7d-9712947ec4dd.jpg"
                                style="height:100px; margin-top: 20px;"><br />
                        </td>
                    </tr>

                    <td>
                        <table width="95%" border="0" align="center" cellpadding="10" cellspacing="0"
                            style="max-width:670px; border-radius:3px; text-align:center;">
                            <tr>
                                <td style="padding:0 0px;">
                                    <h1
                                        style="color:black; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
                                        Reset Password
                                    </h1>
                                    <span
                                        style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                    <p style="color:black; font-size:15px;line-height:24px; margin:0;"><b> We
                                            recieved a request to reset your account password,If you have not made this
                                            request, you can ignore this email and it will not
                                            be changed.
                                            <!-- click the
                                                following button. -->
                                        </b>
                                        <!-- <p style="color:#ffffff;">
                                        <b>
                                            If you have not made this request, you can ignore this email and it will not
                                            be changed.
                                        </b>
                                    </p>
                                    <p style="color:#ffffff;">
                                        <b>
                                            If you do need to reset your password, click the button below.
                                        </b>
                                    </p> -->

                                    </p>
                                    <a href="<%=URL%>"
                                        style="background:#E75480
                                                                                ;text-decoration:none !important; font-weight:500; margin-top:21px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Reset
                                        Password</a>



                                </td>
                            </tr>

                            <tr>
                                <td style="text-align:center;">
                                    <p style="font-size:14px; color:black; line-height:18px; margin:5 0 0;">
                                        <strong>Copyright <%=year%></strong> &copy; <strong>All rights
                                            reserved.</strong>
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </td>

                </table>
            </td>
        </tr>
    </table>
</body>

</html>